<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="Current" value="Data Source=Sanjay-HP;Initial Catalog=Cable;Integrated Security=True;"/>
		<add key="xCurrent" value="server=182.50.133.111;Database=Cable;uid=cts;pwd=cts@1234;"/>
    <add key="Support" value="022 87453634, 022 56435463, support@cromptechsolutions.com"/>
    <add key="EntTax" value="65"/>
    <!--<add key="PrintUrl" value="http://www.cromptechsolutions.com/Transactions/Bill/NewBill.aspx"/>-->
    <add key="PrintUrl" value="http://localhost:3366/Transactions/Bill/NewBill.aspx"/>
    <add key="Image1" value="http://localhost:3366/Transactions/Bill/NewBill.aspx"/>
    <add key="Image2" value="http://localhost:3366/Transactions/Bill/NewBill.aspx"/>
    <add key="Image3" value="http://localhost:3366/Transactions/Bill/NewBill.aspx"/>
	</appSettings>
	<connectionStrings>
  <add name="Current" connectionString="Data Source=Sanjay-HP;Initial Catalog=Cable;Integrated Security=True;" />
  <add name="Main" connectionString="Data Source=Sanjay-HP;Initial Catalog=Cable;Integrated Security=True;" />
  <add name="xMain" connectionString="server=182.50.133.111;Database=Cable;uid=cts;pwd=cts@1234;" />
  <add name="xHMSConnectionString" connectionString="Data Source=.;Initial Catalog=Cable;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"></customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="Theme1">
			<controls>
        <add assembly="SmartControls" tagPrefix="sc" namespace="SmartControls"/>
        <add assembly="SmartControls" tagPrefix="anthem" namespace="AnthemExtensions"/>

      </controls>
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
